{% extends "_base.html" %}
{% block content %}
<div>
    <div id="books-container" style="display: none;">
      {{ books }}
    </div>
    
    <br>
    {% if books == "[]" %}
      <p>There are no books in your list</p>
    {% endif %}
    <!-- Button trigger modal -->

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new-books-search">
      Look for books
    </button>
  
    <!-- The Modal -->
    <div class="modal" id="new-books-search">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Search for a book</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control rounded-0" id="search-keyword" type="text"
                placeholder="Write your keyword here">
              <div class="input-group-append">
                <button class="btn btn-outline-success rounded-left rounded-0" onclick="fetchBooks()">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            <!-- cards for results -->
            <div id="results">
            </div>
          </div>
        </div>
      </div>
  
      <!--  -->
  

      <script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}